.bg_white{
    background-color: #fff5e7;
}

.white{
    color: #fff5e7;
}


.bg_yellow{
    background-color: #ffb771;
}

.yellow{
    color: #ffb771;
}


.bg_orange{
    background-color: #ee6c00;
}

.orange{
    color: #ee6c00;
}