.bg_white{
    background-color: #fff5e7;
}

.white{
    color: #fff5e7;
}


.bg_yellow{
    background-color: #ffb771;
}

.yellow{
    color: #ffb771;
}


.bg_orange{
    background-color: #ee6c00;
}

.orange{
    color: #ee6c00;
}

.react-icons {
    vertical-align: middle;
    color: #fff5e7;
    font-size: 2em;
    margin: 1px;
  }

  .react-icons:hover {
    color: #ee6c00;
  }
